<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="#dashboard/Orders">
          <i class="octicon octicon-graph"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Profiles</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#List/Customer/List"><i class="fa fa-circle-o"></i> Customer</a></li>
          <li><a href="#List/Provider/List"><i class="fa fa-circle-o"></i> Provider</a></li>
          <li><a href="#List/Customer%20Feedback/List"><i class="fa fa-circle-o"></i> Customer Feedback</a></li>
          <li><a href="#List/Provider%20Feedback/List"><i class="fa fa-circle-o"></i> Provider Feedback</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-cart-plus"></i>
          <span>Sales</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#List/Service%20Order/List"><i class="fa fa-circle-o"></i>  Ongoing Order List</a></li>
          <li><a href="#List/Service%20Invoice/List"><i class="fa fa-circle-o"></i> Completed Order List</a></li>
        </ul>
      </li>
      <li>
        <a href="#List/Services/List">
          <i class="fa fa-puzzle-piece"></i> <span>Services</span>
        </a>
      </li>
      <li>
        <a href="#List/Offers/List">
          <i class="fa fa-gift"></i> <span>Offers</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-money"></i>
          <span>Earnings Requests</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="#List/Payment%20Request/List"><i class="fa fa-circle-o"></i> Payment Request</a></li>
          <li><a href="#List/Payment%20Profile/List"><i class="fa fa-circle-o"></i> Payment Profile</a></li>
        </ul>
      </li>
      <li>
        <a href="#Tree/Service%20Regions%20Settings">
          <i class="fa fa-cog"></i> <span>Service Settings</span>
        </a>
      </li>
  </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<div class="overlay"><div>